  [http.routers]
   # Define a connection between requests and services
     [http.routers.did]
        rule = "Host(`uri.did.{{ env "hostname" }}`)"
        entrypoints = ["websecure"]
        service = "did"
     [http.routers.did.tls]
        certResolver = "myresolver"
     [http.routers.perdid]
        rule = "Host(`persons.did.{{ env "hostname" }}`)"
        entrypoints = ["websecure"]
        service = "perdid"
     [http.routers.perdid.tls]
        certResolver = "myresolver"
     [http.routers.locdid]
        rule = "Host(`loc.did.{{ env "hostname" }}`)"
        entrypoints = ["websecure"]
        service = "locdid"
     [http.routers.locdid.tls]
        certResolver = "myresolver"
     [http.routers.orgdid]
        rule = "Host(`org.did.{{ env "hostname" }}`)"
        entrypoints = ["websecure"]
        service = "orgdid"
     [http.routers.orgdid.tls]
        certResolver = "myresolver"
     [http.routers.timeline]
        rule = "Host(`timeline.{{ env "hostname" }}`)"
        entrypoints = ["websecure"]
        service = "timeline"
     [http.routers.timeline.tls]
        certResolver = "myresolver"
     [http.routers.analytics]
        rule = "Host(`analytics.{{ env "hostname" }}`)"
        entrypoints = ["websecure"]
        service = "analytics"
     [http.routers.analytics.tls]
        certResolver = "myresolver"
     [http.routers.sparql]
        rule = "Host(`sparql.{{ env "hostname" }}`)"
        entrypoints = ["websecure"]
        service = "sparql"
     [http.routers.sparql.tls]
        certResolver = "myresolver"
     [http.routers.api]
        rule = "Host(`api.{{ env "hostname" }}`)"
        entrypoints = ["websecure"]
        service = "api"
     [http.routers.api.tls]
        certResolver = "myresolver"

 [http.services]
        # Define how to reach an existing service on our infrastructure
        [http.services.did.loadBalancer]
           [[http.services.did.loadBalancer.servers]]
             url = "http://diduri:3000"
        [http.services.locdid.loadBalancer]
           [[http.services.locdid.loadBalancer.servers]]
             url = "http://locations:3000"
        [http.services.orgdid.loadBalancer]
           [[http.services.orgdid.loadBalancer.servers]]
             url = "http://organizations:3000"
        [http.services.perdid.loadBalancer]
           [[http.services.perdid.loadBalancer.servers]]
             url = "http://persons:3000"
        [http.services.timeline.loadBalancer]
           [[http.services.timeline.loadBalancer.servers]]
             url = "{{ env "proxyname" }}:8095"
        [http.services.analytics.loadBalancer]
           [[http.services.analytics.loadBalancer.servers]]
             url = "{{ env "proxyname" }}:8087"
        [http.services.sparql.loadBalancer]
           [[http.services.sparql.loadBalancer.servers]]
             url = "{{ env "proxyname" }}:3030"
        [http.services.api.loadBalancer]
           [[http.services.api.loadBalancer.servers]]
             url = "http://api"


